@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
	<title>front page</title>
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/">
                <img src="~/images/icon.png" alt="ASP.NET" width="30" height="30"/>
            </a>
            <li class="nav-item active">
                <a class="nav-link" href="/women-maintops">Women <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/men">Men</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Girls</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Collections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Community</a>
            </li>
        </ul>
    </div>
            @if(Context.Session.GetInt32("id") != null){
                <a class="navbar-brand ml-auto" href="/cart">
                   @Context.Session.GetInt32("id")
                </a>
            }

            @if(@Context.Session.GetInt32("id") == null)
            {
                <a class="navbar-brand ml-auto" href="/login"> Sign In </a>

            }

            @if(Context.Session.GetInt32("id") != null){
                <a class="navbar-brand ml-auto" href="/logout">
                   Logout
                </a>
            }


     

            <a class="navbar-brand ml-auto" href="/cart">
                <img src="~/images/bag.png" alt="ASP.NET" width="35" height="30"/>
            </a>
   
    </nav>

    <div class="sideNav">
        <h1>Special Edition Wunder<BR> Yogas</h1>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/women-maintops">Tops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bottoms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Accesssories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/women-all">View All</a>
            </li>
        </ul>
    </div>

    <div class="frontPageImage">
        <img src="~/images/yoga.jpg" alt="ASP.NET" class="img-responsive" />
    </div>

    <div class="quoteLogo">
        <h1> Classic gear to break a <br>
        sweat in for on and off the <br></h1>
    </div>


    

    <div class="twoProducts">
        <div class="row">
            <div class="col">
                <figure>
                    <img src="~/images/bottomOne.jpeg" alt="ASP.NET" class="itemOne img-responsive" />
                    <a href="#">
                        <figcaption class="itemOneCaption">Wunder Under Pant(High-Rise) Tech Mesh 28</figcaption>
                    </a>
                    <figcaption class="itemOneCaption">$118.00 USD</figcaption>
                </figure>
            </div>

            <div class="col">
                <figure>
                     <img src="~/images/bottomTwo.jpeg" alt="ASP.NET" class="itemTwo img-responsive" />
                    <a href="#">
                        <figcaption>Wunder Under Pant Cire 28"</figcaption>
                    </a>
                    <figcaption>$118.00 USD</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="highRisePants">
        <div class="row">
            <div class="col">
                <figure>
                    <img src="~/images/highRise.jpeg" alt="ASP.NET" class="highRiseOne img-responsive" />
                    <a href="#">
                        <figcaption class="itemOneCaption">Wunder Under High-rise Tight *Shine 28"</figcaption>
                    </a>
                    <figcaption class="itemOneCaption">$118.00 USD</figcaption>
                </figure>
            </div>

            <div class="col">
                  <figure>
                    <img src="~/images/closeUpHighRise.jpeg" alt="ASP.NET" class="highRiseTwo img-responsive" />
                    <a href="#">
                        <figcaption class="itemOneCaption"></figcaption>
                    </a>
                </figure>

                <figure>
                    <img src="~/images/highRiseFabric.jpeg" alt="ASP.NET" class="highRiseThree img-responsive" />
                    <a href="#">
                        <figcaption class="itemOneCaption"></figcaption>
                    </a>
                </figure>
            </div>
        </div>

        <!-- <div class="wunderUnder">
            <button type="button" class="button">SHOP ALL WUNDER UNDERS</button>
        </div> -->
    </div>

    <div class="wunderUnder">
        <a href="/women-all">
            <button type="button" class="button">SHOP ALL WOMEN</button>
        </a>
    </div>

    <div class="shopCategories">
        <div class="row">
            <div class="col-sm">
                <img src="~/images/shopWunder.jpeg" alt="ASP.NET" class="shop img-responsive" />
            </div>

            <div class="col-sm">
                <img src="~/images/shopYoga.jpeg" alt="ASP.NET" class="shop img-responsive" />
            </div>

            <div class="col-sm">
                <img src="~/images/shopBras.jpeg" alt="ASP.NET" class="shop img-responsive" />
            </div>

        </div>
    </div>
   
   <div class="shopCategoriesTwo">
        <div class="row">
            <div class="col">
                <img src="~/images/shopBottom.jpeg" alt="ASP.NET" class="shop1 img-responsive" /> 
            </div>
            <div class="col">
                <img src="~/images/shopBrasTwo.jpeg" alt="ASP.NET" class="shop2 img-responsive" />
            </div>
        </div>
   </div>

   <div class="shippingInfo">
       <div class="shippingText">
           <h3>Free Shipping. Free Returns</h3>
           <p>Less stress, more sweat.</p>
       </div>
   </div>

    <div class="bottomInfo">
        <div class="row">
            <div class="col">MY SHOP PREFERENCES</div>
            <div class="col">UNITED STATES</div>
            <div class="col">ENGLISH</div>
            <div class="col">$ USD</div>
        </div>
    </div>
    <hr>
    <div class="bottomNav mx-auto">
        <div class="row">
            <ul>
                <div class="col"><strong>MY ACCOUNT</strong>
                    <ul>Sign In</ul>
                    <ul>Register</ul>
                    <ul>Order Status</ul>
                    <ul>Returns</ul>
                </div>
            </ul>

            <ul>
                <div class="col"><strong>HELP</strong>
                    <ul>Ordering</ul>
                    <ul>Shipping</ul>
                    <ul>Returns</ul>
                    <ul>Sizing</ul>
                    <ul>Our Products</ul>
                </div>
            </ul>

            <ul>
                <div class="col"><strong>ABOUT US</strong>
                    <ul>Our Story</ul>
                    <ul>Media</ul>
                    <ul>Investors</ul>
                    <ul>Strategic Sales</ul>
                    <ul>Sweat Collective</ul>
                </div>
            </ul>

            <ul>
                <div class="col"><strong>DESIGN</strong>
                    <ul>Construction</ul>
                    <ul>Fabric + Technology</ul>
                    <ul>Our Philosophy</ul>
                    <ul>Product Care</ul>
                </div>
            </ul>
        </div>

    <div class="bottomNav2 mx-auto">
        <div class="row">
            <ul>
                <div class="col"><strong>Contact Us</strong>
                    <ul>Live Chat</ul>
                    <ul>1.877.263.9300</ul>
                    <ul>Email Sign Up</ul>
                </div>
            </ul>

            <ul>
                <div class="col"><strong>Careers</strong>
                    <ul>Sustainability</ul>
                    <ul>Social Impact</ul>
                    <ul>lululemon Apps</ul>
                </div>
            </ul>

            <ul>
                <div class="col"><strong>Gift Cards</strong>
                    <ul>Store Locator</ul>
                    <ul>UK Modern Slavery Act</ul>
                    <ul>California Transparent act</ul>
                    <ul>Accessibility Satement</ul>
                </div>
            </ul>
        </div>
        </div>
    </div>
    <hr>

    <footer>
        <span>
        © x athletica 1815 Cornwale Ave, Vancouver BC V6J 1C7
        <span class="terms float-right">
        Privacy Policy | Terms of Use | Text Terms
        </span>
        </span>
    </footer>

    </div>
</body>
</html>